TAPD_API_ENDPOINT=https://api.tapd.cn
TAPD_TOKEN=
TAPD_API_USER=
TAPD_API_PASSWORD=
TAPD_SOURCE_WORKSPACE_ID=56536239
TAPD_SANDBOX_WORKSPACE_ID=50396062
FLOWRIVET_POC_OWNER=
FLOWRIVET_DRY_RUN=true
FLOWRIVET_ALLOW_LIVE_WRITES=false
